---
const tabs = [
  { id: "day", name: "Сегодня" },
  { id: "soon", name: "Скоро" },
  { id: "month", name: "Месяц" },
  { id: "all", name: "Все" },
];
---

<section class="_container-x _container-y">
  <div class="border-b border-gray-300">
    <nav class="flex space-x-2" aria-label="Tabs" role="tablist">
      {
        tabs.map((tab, index) => (
          <button
            type="button"
            class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 -mb-px py-3 px-3 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700"
            class:list={`${index === 0 ? "active" : ""}`}
            id={`tab-${tab.id}`}
            data-hs-tab={`#tab-content-${tab.id}`}
            aria-controls={`tab-content-${tab.id}`}
            role="tab">
            {tab.name}
          </button>
        ))
      }
    </nav>
  </div>
  <div>
    {
      tabs.map((tab, index) => (
        <div
          id={`tab-content-${tab.id}`}
          class:list={`${index === 0 ? "" : "hidden"}`}
          aria-labelledby={`tab-${tab.id}`}
          role="tabpanel">
          <div id={tab.id}>
            {tab.id === "all" && (
              <input
                type="text"
                class="search border border-gray-400 rounded-md p-2 mt-4 mb-1"
                placeholder="Поиск..."
              />
            )}
            <div class="list text-gray-600" />
            {tab.id === "all" && (
              <ul class="pagination flex justify-center items-center space-x-2 py-10" />
            )}
          </div>
        </div>
      ))
    }
  </div>
</section>
